# Data Structures

## Lists

In [1]:
my_list = [28,29,30,31]
print(my_list)

[28, 29, 30, 31]

In [5]:
my_list = ['list','of','strings','by','Sonia']

print(my_list)

['list', 'of', 'strings', 'by', 'Sonia']

In [6]:
my_list = [28,'Sonia', True, []]

In [30]:
my_list = [[28,29,30],[False, True], []]

In [9]:
len(my_list)

print(my_list)

[[28, 29, 30], [False, True], []]

## Sets

In [11]:
# Must be unique values
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [9]:
type(my_set)

set

In [16]:
len(my_set)

print('My set holds the following values:', my_set)

My set holds the following values: {1, 2, 3, 4, 5}

In [20]:
my_set = {1,1,2,2}
print(len(my_set))
print(my_set)

2
{1, 2}

In [21]:
[1,2] == [2,1]

False

In [22]:
{1,2,3} == {3,2,1,1,1}

True

## Tuples

Once a tuple is declared, you can't add to it or change any of the values in it. Very memory efficient (this would be the equivalent of CHAR vs VARCHAR in SQL).

In [8]:
my_tuple = (1,2,3)

In [5]:
len(my_tuple)

3

In [6]:
(1,2) == (2,1)

False

In [7]:
my_list.append('800-588-2300, Empire, today')
print(my_list)

NameError: name 'my_list' is not defined

In [25]:
my_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

## Dictionaries

Has unique keys; will always take the last key-value pair entered for a specific key.

In [10]:
my_dictionary = {
    'cheesecake': 'A cream cheese based dessert', 
    'apple': 'An apple wards off doctors as garlic wards off vampires'
}

In [11]:
my_dictionary['apple']

'An apple wards off doctors as garlic wards off vampires'

In [13]:
my_dictionary = {
    'cheesecake': 'A cream cheese based dessert', 
    'apple': 'An apple wards off doctors as garlic wards off vampires',
    'apple': 'A fruit that comes from trees'
}

In [14]:
my_dictionary['apple']

'A fruit that comes from trees'