## Sets
- Declared w/curly brackets
- All elements are unique
- Order does not matter; can not fetch items with an index because order is not gauranteed 
- Not subscriptable, so can't use python slicing syntax with it
- Contains ordered accessible subelements

In [1]:
mySet = {'Toby', 'Kelly', 'Teddy'}
mySet

{'Kelly', 'Teddy', 'Toby'}

In [11]:
mySet = set(('Toby', 'Kelly', 'Teddy'))

In [5]:
mySet

{'Kelly', 'Teddy', 'Toby'}

In [9]:
myList = ['Toby', 'Kelly', 'Kelly', 'Teddy', 'Teddy']
myList = list(set(myList))
myList

['Teddy', 'Kelly', 'Toby']

In [6]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [7]:
number = 1
1[0]

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
/tmp/ipykernel_73230/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/tmp/ipykernel_73230/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/tmp/ipykernel_73230/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

In [12]:
mySet.add('Marcelo')
mySet

{'Kelly', 'Marcelo', 'Teddy', 'Toby'}

In [13]:
'Kelly' in mySet

True

In [15]:
'z' in mySet

False

In [16]:
len(mySet)

4

In [17]:
while len(mySet):
    print(mySet.pop())

Teddy
Marcelo
Kelly
Toby

In [18]:
mySet

set()

In [21]:
mySet = {'Toby', 'Teddy', 'Kelly'}

In [22]:
mySet.discard('Toby')

In [23]:
mySet

{'Kelly', 'Teddy'}

## Tuples
- More efficient than lists in terms of memory allocation
- Don't grow or change
- Often used by default

In [25]:
myTuple = ('mocha', 'latte', 'cappuccino')
myTuple

('mocha', 'latte', 'cappuccino')

In [26]:
myTuple[0]

'mocha'

In [29]:
myTuple[0] = 'frappuccino'

TypeError: 'tuple' object does not support item assignment

In [36]:
def returnsMultipleValues():
    return 'tea','coffee','juice' # when returning, syntax w/o paranthesis is preffered; when assigning, parenthesis are prefererred.

type(returnsMultipleValues())

tuple

In [37]:
myTuple = (1,2,3)

In [38]:
type(myTuple)

tuple

In [39]:
a, b, c = returnsMultipleValues() # this is called unpacking

In [40]:
print(a)
print(b)
print(c)

tea
coffee
juice